{% extends "_layouts/site" %}

{% block main %}
	<main class="About">
		<h1 class="h2">Crafter Starter Twig</h1>
		About page.

		{# <a href="{{ craft.entries.section('home').one().url }}">About</a> #}
	</main>
{% endblock %}
