{% extends "_layouts/site" %}

{% block main %}
	<main class="Home" data-barba="container" data-barba-namespace="home">
		<h1 class="h1">Crafter Starter Twig</h1>
		The quick brown fox jumps over the lazy dog.
		<img src="/dist/static/images/icons/user.svg" alt=""/>

		<div class="vue-component-wrapper">
			<hello-world :info="{{ info|json_encode|e('html_attr') }}"></hello-world>
		</div>

		<p><a href="{{ craft.entries.section('about').one().url }}">About</a></p>

		<roll-text v-pre>
			<div>
				<div>roll-text web component</div>
				<div data-content="Hello world"></div>
			</div>
		</roll-text>
		
		<div class="vue-component-wrapper">
			<hello-world :info="{{ info|json_encode|e('html_attr') }}"></hello-world>
		</div>
	</main>
{% endblock %}
