{% extends "_layouts/site" %}

{% block main %}
	<main class="Home">
		<h1 class="h2">Crafter Starter Twig</h1>
		The quick brown fox jumps over the lazy dog.
		<img src="/dist/static/images/icons/user.svg" alt=""/>

		<hello-world :info="{{ info|json_encode|e('html_attr') }}"></hello-world>

		<p><a href="{{ craft.entries.section('about').one().url }}">About</a></p>
	</main>
{% endblock %}
