{% extends "_layouts/site" %}

{% block main %}
	<main data-component="home">
		The quick brown fox jumps over the lazy dog.
		<img src="/dist/static/images/icons/user.svg" alt=""/>

		<hello-world :info="{{ info|json_encode }}"/>
	</main>
{% endblock %}
