{% extends "_layouts/base" %}

{% block site %}
	<main id="swup" role="main">
		{# include "partials/global/header.twig" #}

		<div class="wrapper">
			{% block main %}{% endblock %}
		</div>

		{# include "partials/global/footer.twig" #}
	</main>
	<lottie-transition></lottie-transition>
{% endblock %}
