{% extends "_layouts/base" %}

{% block site %}

	{# include "partials/global/header.twig" #}

	<div class="wrapper" data-barba="wrapper">
		{% block main %}{% endblock %}
	</div>

	{# include "partials/global/footer.twig" #}
	<lottie-transition v-pre></lottie-transition>

{% endblock %}

