// Grafier
@font-face {
    font-family: 'Grafier';
    src: url('/frontend/assets/fonts/Grafier/Grafier-RegularDisplay.eot');
    src: url('/frontend/assets/fonts/Grafier/Grafier-RegularDisplay.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Grafier/Grafier-RegularDisplay.woff2') format('woff2'),
        url('/frontend/assets/fonts/Grafier/Grafier-RegularDisplay.woff') format('woff'),
        url('/frontend/assets/fonts/Grafier/Grafier-RegularDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grafier';
    src: url('/frontend/assets/fonts/Grafier/Grafier-Bold.eot');
    src: url('/frontend/assets/fonts/Grafier/Grafier-Bold.eot?#iefix') format('embedded-opentype'),
        url('/frontend/assets/fonts/Grafier/Grafier-Bold.woff2') format('woff2'),
        url('/frontend/assets/fonts/Grafier/Grafier-Bold.woff') format('woff'),
        url('/frontend/assets/fonts/Grafier/Grafier-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Light.eot');
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Light.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Regular.eot');
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Medium.eot');
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Semibold.eot');
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Semibold.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Semibold.woff2') format('woff2'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Semibold.woff') format('woff'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Bold.eot');
    src: url('/frontend/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('/frontend/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
