/* @font-face {
    font-family: '_MyFont';
    src: url('/frontend/assets/fonts/MyFont/MyFont-RegularDisplay.woff2') format('woff2'),
        url('/frontend/assets/fonts/MyFont/MyFont-RegularDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
