// Fonts
$font-main: 'Arial', sans-serif;

// Easings
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1); // https://cubic-bezier.com/#.65,0,.35,1
$ease-in-out-airbag: cubic-bezier(0.3, 0, 0, 1); // https://cubic-bezier.com/#.3,0,0,1
